.breadcrumb a {
  color: #fff;
  background: darkcyan;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  padding: 0 5px;
}
.breadcrumb li {
  float: left;
}

.breadcrumb > li {
    display: inline
}
  
.breadcrumb li+li::before {
    padding: 10px;
    content: ">";
  }
  
.breadcrumb a {
    text-decoration: none;
  }
  
.breadcrumb a:hover {
  color: red;
  }

.attribute a::after {
    content: " x";
    font-size: 8px;
    vertical-align: super;
  }